name: Update FLS
on:
  schedule:
    - cron: "05 0 * * *"
  workflow_dispatch:
env:
  CAN_AUTOMATICALLY_UPDATE: false
jobs:
    update-fls:
      runs-on: ubuntu-latest
      steps:
        - name: Check out the repo
          uses: actions/checkout@v4
        - name: Install uv
          uses: astral-sh/setup-uv@v6
        - name: Automatically update FLS if possible to do so
          run: ./scripts/test_update_fls.sh
        - name: Create Pull Request
          if: env.CAN_AUTOMATICALLY_UPDATE == true
          uses: peter-evans/create-pull-request@v7
          with:
            commit-message: Update FLS (automated PR)
            title: Update FLS (automated PR)
            body: Update FLS (automated PR)
            base: main
            labels: automated-pr
            branch: update-fls
            delete-branch: true
